body {
    text-align: center;
    background: #00ECB9;
    font-family: sans-serif;
    font-weight: 100;
}

h1 {
    color: #396;
    font-weight: bold;
    font-size: 40px;
    font-variant: small-caps;
    margin: 40px 0px 20px;
}

h2 {
    color: #396;
    font-size: 30px;
    font-weight: 200;
}

h3 {
    color: #396;
    font-size: 20px;
    font-weight: 100;
}

td {
    padding: 15px;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}
