{% extends "_base.html" %}

{% block content %}

    <h1>The Final Countdown</h1>
    <div id="clockdiv">
        <div>
            <span class="days"></span>
            <div class="smalltext">Days</div>
        </div>
        <div>
            <span class="hours"></span>
            <div class="smalltext">Hours</div>
        </div>
        <div>
            <span class="minutes"></span>
            <div class="smalltext">Minutes</div>
        </div>
        <div>
            <span class="seconds"></span>
            <div class="smalltext">Seconds</div>
        </div>
    </div>
    <br><br><br>
    <table align="center">
    <tr>
        <td><img src="static/g_and_b.jpg" height="250"></td>
        <td><h2>2017 Iron<br>Curtain Tour</h2><h3><i>Giddy Up!</i></h3></td>
        <td><img src="static/e_europe.jpg" height="250"></td>
    </tr>

    </table>
{% endblock %}